@import 'assets/style/common';
html, body {
  height: 100%;
}
a {
  text-decoration: none;
  color: $--link-color;
}
i {
  cursor: pointer;
}
// .el-form-item__error {
//   color: $--danger-color
// }

@font-face {
  font-family: 'iconfont';  /* project id 957689 */
  src: url('//at.alicdn.com/t/font_957689_f73shccpl1r.eot');
  src: url('//at.alicdn.com/t/font_957689_f73shccpl1r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_957689_f73shccpl1r.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_957689_f73shccpl1r.woff') format('woff'),
  url('//at.alicdn.com/t/font_957689_f73shccpl1r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_957689_f73shccpl1r.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.open-logo:before { content: "\e600"; }

.open-zhishi:before { content: "\e770"; margin-right: 10px;}

.open-yuedu:before { content: "\e778"; margin-right: 10px;}

.open-neifenmike:before { content: "\e78a"; margin-right: 10px;}

.open-github:before { content: "\e851"; }
