html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 957689 */
  src: url('//at.alicdn.com/t/font_957689_seztu7to5v.eot');
  src: url('//at.alicdn.com/t/font_957689_seztu7to5v.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_957689_seztu7to5v.woff') format('woff'),
  url('//at.alicdn.com/t/font_957689_seztu7to5v.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_957689_seztu7to5v.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.open-logo:before { content: "\e600"; }

.open-zhishi:before { content: "\e770"; margin-right: 10px;}

.open-yuedu:before { content: "\e778"; margin-right: 10px;}

.open-neifenmike:before { content: "\e78a"; margin-right: 10px;}
